<div class="container mt-5">
<%= render "restaurant", restaurant: @restaurant %>
<br>
  <div class="container d-flex justify-content-end">
  <%= link_to "All Restaurants", restaurants_path, class:"text-decoration-none" %>
  </div>
</div>
